<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.AllTypeMapper">
    <select id="findAll" resultType="org.example.model.AllType">
        select * from all_type
    </select>
    <select id="find" resultType="org.example.model.AllType">
        select * from all_type where info_int = #{info_int}
    </select>
</mapper>